*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* header */
.header{
  background-color:rgb(8, 59, 8);
  overflow: auto;
  line-height: 1.9em;
  
}
.titre{
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  padding: 20px;
  margin-bottom: 0px;
  letter-spacing: 0.10rem;
}
a{
  text-decoration: none;
  color: aliceblue;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.10rem;
  padding: 20px;
  margin-bottom: 0px;
  float: right;
  
  
}
 .nav a:hover{
  color: rgb(159, 159, 67);
}
/* text */
.text{

  display: block;
  margin: auto;
  text-align: center;
  padding-top: 13rem;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.6)url(../images/daan-evers-tKN1WXrzQ3s-unsplash.jpg) center center/cover;
  background-blend-mode: darken; 
  
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 250%;
  color: white;
  text-transform: uppercase;  
}
p{
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:150%;
  font-weight: bold;
}
.bnt{
  width: 10rem;
  height:1.25rem;
  margin: auto;
  
}
.bnt p{
  font-size: 1.25rem;
  margin-top: 1rem;
  color: white;
  background-color: rgb(145, 145, 56);
  text-align: center;
  height: 3rem; 
  border-radius: 1rem;
  
}
/* .content */
.content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  }
.cart{
    background-color:white;
    width: 30rem;
    height: 16rem;
    box-shadow: 0 5px 25px gray;
    border-radius: 10px;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    transition: 0.6s;
  }
.cart:hover{
    transform: scale(1.1);
  }
.icon{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
.info h3{
    display: flex;
    justify-content:center;
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
  .info p{
    color: black;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.25rem;
  }
  .image img {
    width: 100%; 
    height: 27rem;
    background-size: cover;
  }
  /* .reserve */
  .reserve{
    height: 10rem;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 8rem;
  }
  .reserve h3{
    color: black;
    /* text-align: center; */
    /* padding-top: 5rem; */
    font-size: 2rem;
    /* padding-right: 5.5rem; */
  }
  .reserve p{
    color:black;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.25rem;
    padding-bottom: 2.5rem;
  
  }
  /* footer */
  .footer{
    height: 5rem;
    width: 100%;
    margin-top: 10rem;
    background-color:rgb(8, 59, 8);
  }
  .footer p{
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.25rem;
  }
  .fgw a img{
     margin-top: 1.5rem; 
  }
  /* .container */
  .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:white;
    width: 100%;
    height: 100vh;
    margin: auto; 
  }
  .photo img{
    display: flex;
    justify-content: flex-start;
    height: 40rem;
    width: 42rem;
  
  }
  .container .formulaire{
    width: 20rem;
    margin-top: 5rem;
  }
  /* .formulaire */
  .formulaire{
    margin: auto;
  }
  .formulaire span{
    color:rgb(8, 59, 8);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .formulaire p{
    color: rgb(8, 59, 8);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem; 
    border-bottom: 4px solid rgb(159, 159, 67);
    display: inline-block;
    letter-spacing: 1px;
  }
  .formulaire .inputbx{
    margin-bottom: 2rem;
  
  }
  .formulaire .inputbx input{
    width: 230px;
    height: 2.5rem;
    padding-top: 10px 20px;
    padding-left: 1rem;
    outline: none;
    font-weight: 400;
    border: 0.25rem solid rgb(8, 59, 8);
    letter-spacing: 1px;
    color: #a9a761;
    font-size: 16px;
    background: transparent;
    border-radius: 30px;
  }
  .formulaire .comentaire textarea{
    width: 230px;
    height: 4rem;
    color: black;
    font-size: 16px;
    border-radius: 40px;
    border:  solid rgb(8, 59, 8);
    letter-spacing: 1px;
    padding-left: 1rem;
    padding-top: 1rem;
    outline: none;
  }
  .formulaire .remembre input{
    margin-top: 1rem;
    color: white;
    margin-bottom: 1rem;
    
  }
  .formulaire .remembre label{
    color:rgb(8, 59, 8);
    padding-left:1rem ;
    
  }
  .formulaire .input4{
    display: flex;
    justify-content: center;
    padding-right: 4rem;
      
  }
  .formulaire .input4 input{
    margin-top: 1.5rem;
    background-color: rgb(159, 159, 67);
    width: 6rem;
    height: 3rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: white;
    outline: none;
    
  }
  /* .bienveue */
   .bienveue{  
    height: 50vh;
    width: 100%;
    background-color: rgb(123, 90, 47); 
  
  }
   .bienveue h2{ 
    color:white;
    text-align: center;
    letter-spacing: 1rem;
    margin-top: 9rem;
    margin-bottom: 10rem;
    font-size: 3rem;
  
  }
  /* .arriere */
  .arriere{
    width: 100%;  
    height: 60vh; 
    background-color: white; 
    margin-top: 5rem; 
    display: flex; 
    justify-content: space-between; 
  }
  .arriere .image1{
    padding-right: 15rem;
  }
  .arriere .image1 img{
    width: 28.5rem;
    height: 23rem;
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
    
  }
  .ou h3{
    margin-top: 3rem;
    margin-left: 15rem;
    font-size: 1.5rem;
    font-weight: 400;
    
  }
  .ou h1{
    margin-top: 7rem;
    margin-left: 15rem;
    font-size: 1.5rem; 
    letter-spacing: 0.75rem;
    font-weight: 200%;
    margin-bottom: 2rem; 
    border-bottom: 4px solid rgb(159, 159, 67);
    display: inline-block;
  }
  
  